.SearchBox {
   margin: auto;
   width: 50%;
}

.heading {
  text-align: center;
}

input[type=text] {
  padding:5px;
  width: 500px;
  border:1px solid #ccc;
  margin-top: 50px;
  -webkit-border-radius: 1px;
}

input[type="checkbox"] {
  padding: 50px;
}
